<div class="row result-wrapper clearfix">
   <div class="col s12">
      <div class="row">
         <div class="rbc rbc-resultcard">
            <div class="rbc-resultcard-container">
               <div class="rbc rbc-resultstats col s12 col-xs-12">
                 Search
                 {{input value=filterText type='text' placeholder='Search City'}}

                   {{#unless filteredResults.length}}
                     <h4>no record matched your criteria</h4>
                   {{/unless}}

                  {{filteredResults.length}} results found in 12 ms
               </div>

              <!-- result cards //-->
              <div class="container clearfix">
                <div class="css-omf3o4 list">
                 <!-- iterate cards //-->
                 {{#each filteredResults as |item|}}
                 <a class="list-item css-1p9dq2h css-s1k1y71"
                    href="https://www.superrental.com/rooms/7750477" rel="noopener noreferrer">
                    <div>
                       <div class="image css-g6qnsb css-s1k1y70" style="background-image: url({{item.attributes.image}});"></div>
                       <h2 class="css-1pwe92q css-1jhjgj40">{{item.attributes.city}}</h2>
                       <div>
                             <div  class="price">{{item.attributes.title}}</div>
                             <span class="host" style="background-image: url(https://avatars2.githubusercontent.com/u/1720215?v=4&s=460);"></span>
                             <div  class="info">{{item.type}} · {{item.attributes.owner}}</div>
                       </div>
                    </div>
                 </a>
                 {{/each}}
                 <!-- iterate cards //-->
                </div>
              </div>

               <!-- pagination //-->
               <div class="rbc-pagination-container col s12 col-xs-12">
                  <div class="rbc rbc-pagination rbc-pagination-bottom">
                     <div class="col s12 col-xs-12">
                        <ul class="pagination">
                           <li class="disabled"><a class="rbc-page-previous"><i class="fa fa-angle-left"></i></a></li>
                           <li class="rbc-page-number active rbc-pagination-active"><a>1</a></li>
                           <li class="disabled"><a class="rbc-page-next"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
           <div>
             <a href="#" target="_blank">Hamzeen. H.</a>
           </div>
         </div>
      </div>
   </div>
</div>

{{outlet}}
